*{
    background-color: #F3F5FC;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}




.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}


main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
} 

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871;}
.text-area:focus{
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mensaje {
    background: white;
    background-image: url("/img/Muñeco.png");
    background-repeat: no-repeat;
    background-size: 350px; /* Ajusta el tamaño de la imagen según lo que necesites */
    background-position: 10px center; /* Posiciona la imagen en el borde izquierdo */
    border: none;
    border-radius: 16px; /* Menor radio para bordes más sutiles */
    color: #0A3871;
    margin: 20px; /* Margen uniforme alrededor */
    padding: 20px; /* Espaciado interno uniforme */
    position: fixed;
    width: 380px; /* Ajusta el ancho de la tarjeta */
    max-height: 950px; /* Ajusta la altura máxima de la tarjeta */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
    z-index: 1000; /* Asegura que la tarjeta esté encima de otros elementos */
    margin-left: 415px;
}


.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
    
}

.encriptar{
    background-color: #0A3871;
    border: 1px;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 630px;
    height: 67px;
    margin-left: 450px;
    width: 328px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.informacion{
    color: #495057;
    font-size: 18px;
}